* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

.app {
  background-image: url('https://images.unsplash.com/photo-1534088568595-a066f410bcda?q=80&w=1951&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

main {
  min-width: 300px;
}

.search-box {
  width: 100%;
  margin: 0 0 25px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.weather-container {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 16px;
  color: #313131;
}

.location-box .location {
  font-size: 32px;
  font-weight: 500;
  text-shadow: 1px 2px rgba(50, 50, 70, 0.5);
}

.weather-info-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-info-box .weather {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.error {
    margin-top: 15px;
    color: red;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 8px;
}